[Desktop Entry]
Name=OpenRSCPlus
Comment=OpenRSCPlus client launcher
Exec=OpenRSCPlus
Icon=openrscplus
Terminal=false
Type=Application
Categories=Game;
